.footer
  .container
    .row
      .span5
        %h3.footer-title
          为什么要比惨？
        %p
          比惨可以通过吐槽自己的悲惨境遇与别人的悲惨境遇，来缓解自己的悲惨情绪，感慨生活之美好！通过比惨来感受这个世界的爱，感受正能量，传播正能量！
      .span5.offset2
        .footer-banner
          %h3.footer-title
            比惨的由来？
          %p
            在山的那边海的那边，有一群快乐的<a href='http://cityofsun.sinaapp.com/' target='_blank'>太阳城</a>居民。他们爱好和平，爱好聊天，爱好很广泛。
            

/
  Javascripts
  \==================================================
/ Placed at the end of the document so the pages load faster
= javascript_include_tag "user"

/- if Rails.env.production?
/  .baidu-tongji
/    :javascript
/      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
/      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8fa79cc6964fae52a3b4c6585ad60d25' type='text/javascript'%3E%3C/script%3E"));

= yield(:javascript) if content_for?(:javascript)
