/=simple_form_for(@post, url: posts_path) do |f|
/  =f.input :content
/  =f.button :submit, :value => '我好惨阿!'
%div.new_post
  %div.post-icon
    %img{src: 'http://www.gravatar.com/avatar/b417c896d2bcdeee7823fd8f1afc1b16.png'}
      %h4 欢迎来比惨！
  %div.post-form
    %div.new-control-group
      %textarea.post-content{:placeholder => '描述下您的惨状', :id => "login-name"}
    %div.new-control-group
      %a.btn.btn-primary.btn-large.btn-block{:href => "#"} 我好惨阿!
