.post
  %dl.user
    -if @post.user_img
      %img{src: @post.user_img }
      =@post.username
  %dl.content
    =raw @post.content
  %dl.labels
    -@post.labels.each do |label|
      .post-label
        =label.name
  %dl.options
    %a.momo.btn.btn-warning 亲，不哭！
    %a.pk.btn.btn-danger 切，一点都不惨!

.comments
  -@comments.each  do |comment|
    .comment
      =image_tag(comment.user_img)
      =link_to comment.username, comment.user_weibo, :target => '_blank'
      说:
      =comment.content

-if current_user
  %form{:action => comments_path, :method => 'post'}
    %input{:name => 'content'}
    %input.hidden{:name => 'user_id', :value => current_user == nil ? '1' : current_user.id}
    %input.hidden{:name => 'post_id', :value => @post.id}
    %button{:type => 'submit'} 评论
-else
  %p
    登陆后可以参与评论哦~
