%div.post
  %dl.user
    %img{src: 'http://www.gravatar.com/avatar/b417c896d2bcdeee7823fd8f1afc1b16.png'}
    sonyfe25cp
  %dl.content
    =@post.content
  %dl.options
    %a.momo.btn.btn-warning momo
    %a.pk.btn.btn-danger 参战
