<p>您好，<%= @resource.username %>!</p>

<p>NoPrinter收到了关于修改您的账户密码的申请，您可以通过下面的链接进行密码修改：</p>

<p><%= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您并没有申请修改密码，请忽略本邮件。</p>
<p>在未通过上面链接进行修改之前，您的密码不会被修改。</p>
