.post{
  border: 1px solid #fff;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  margin-bottom: 30px;
}
.post img{
  width: 30px;
  height: 30px;
}
.post .user{
  margin-left: 20px;
  font-size: 10px;
  font-color: #D4996D;
}
.post .content{
  margin-left: 20px;
  font-size: 18px;
  font-color: #ffffff;
}
.post .options{
  margin-left: 20px;
  margin-right: 20px;
}
.post .options .momo{
  
}
.post .options .pk{
 margin-left: 30px; 
}
.post .options .comment{
  float:right;
}
li {
  list-style: none;
}

/*
 * for new post
 */
.post-icon{
  padding-top: 200px;
  padding-left: 50px;
  color: white;
  font-size: 17px;
}
.post-img{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.post-form{
  background-color: #ECEFF1;
  border-radius: 6px;
  padding: 24px 23px 20px;
}
.post-form .new-control-group{
  margin-bottom: 6px;
}
.post-form .post-content{
  border-color: transparent;
  font-size: 17px;
  padding-bottom: 11px;
  padding-top: 11px;
  text-indent: 3px;
  height: 400px;
  width: 600px;
}
.btn-post{
  margin-left: 250px;
  background-image: #1ABC9C;
  background-color: #1ABC9C;
}
.btn-post.hover{
  background-color: #2FE2BF !important;
}
